
<div class="container">
      
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1> ! Bienvenido¡</h1>
            
              <div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit class:"btn-success btn" %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>

  <% end %>
</div>
                <div>
                  <h1><i class="fa-user"></i> SaaS</h1>
                  <p>©2017 All Rights Reserved. Citas Medicas. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
