<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @citum.doctor_id %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @citum.paciente_id %>
</p>

<%= link_to 'Edit', edit_citum_path(@citum) %> |
<%= link_to 'Back', cita_path %>
